.PlansItem{
    margin-top: 18px;
    height: 68px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 24px;
    gap: 24px
}

.PlansInfo{
    display: flex;
    gap: 24px
}

.PlansItem button{
    border: none;
    background: transparent;
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
    accent-color: #3C91E6;
}

input[type="checkbox"]::before {
    /* ...existing styles */
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }